# Natural Language Database AI Assistant

- Take existing csv file as an example database table.
- Use pandas library to set csv file as temporary in-memory database table
- Test a manually created SQL command against the table.
- Use a coding LLM to translate natural language to SQL commands.
- Combine the steps together in a function call to go straight from natural language to results

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from vertexai.language_models import CodeGenerationModel

In [2]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'ADD CREDENTIALS HERE'

In [3]:
df = pd.read_csv('penguins.csv')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

## Creating Temporary Database

In [4]:
temp_df = create_engine('sqlite:///:memory:', echo=True)

In [5]:
data = df.to_sql(name='Penguins', con=temp_df)

2023-11-27 18:52:56,673 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-27 18:52:56,685 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Penguins")
2023-11-27 18:52:56,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-27 18:52:56,688 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Penguins")
2023-11-27 18:52:56,689 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-27 18:52:56,692 INFO sqlalchemy.engine.Engine
CREATE TABLE "Penguins" (
	"index" BIGINT,
	species TEXT,
	island TEXT,
	bill_length_mm FLOAT,
	bill_depth_mm FLOAT,
	flipper_length_mm FLOAT,
	body_mass_g FLOAT,
	sex TEXT
)


2023-11-27 18:52:56,693 INFO sqlalchemy.engine.Engine [no key 0.00090s] ()
2023-11-27 18:52:56,696 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Penguins_index" ON "Penguins" ("index")
2023-11-27 18:52:56,698 INFO sqlalchemy.engine.Engine [no key 0.00179s] ()
2023-11-27 18:52:56,706 INFO sqlalchemy.engine.Engine INSERT INTO "Penguins" ("index", species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2023-11-27 18:52:56,707 INFO sqlalchemy.engine.Engine [generated in 0.00384s] [(0, 'Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'MALE'), (1, 'Adelie', 'Torgersen', 39.5, 17.4, 186.0, 3800.0, 'FEMALE'), (2, 'Adelie', 'Torgersen', 40.3, 18.0, 195.0, 3250.0, 'FEMALE'), (3, 'Adelie', 'Torgersen', None, None, None, None, None), (4, 'Adelie', 'Torgersen', 36.7, 19.3, 193.0, 3450.0, 'FEMALE'), (5, 'Adelie', 'Torgersen', 39.3, 20.6, 190.0, 3650.0, 'MALE'), (6, 'Adelie', 'Torgersen', 38.9, 17.8, 181.0, 3625.0, 'FEMALE'), (7, 'Adelie', 'Torgersen', 39.2, 19.6, 195.0, 4675.0, 'MALE')  ... displaying 10 of 344 total bound parameter sets ...  (342, 'Gentoo', 'Biscoe', 45.2, 14.8, 212.0, 5200.0, 'FEMALE'), (343, 'Gentoo', 'Biscoe', 49.9, 16.1, 213.0, 5400.0, 'MALE')]
2023-11-27 18:52:56,711 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-27 18:52:56,713 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-27 18:52:56,717 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
with temp_df.connect() as conn:
    result = conn.execute(text("SELECT * FROM Penguins"))

2023-11-27 18:52:56,728 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-27 18:52:56,730 INFO sqlalchemy.engine.Engine SELECT * FROM Penguins
2023-11-27 18:52:56,731 INFO sqlalchemy.engine.Engine [generated in 0.00305s] ()
2023-11-27 18:52:56,733 INFO sqlalchemy.engine.Engine ROLLBACK

In [7]:
result.all()

[(0, 'Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'MALE'),
 (1, 'Adelie', 'Torgersen', 39.5, 17.4, 186.0, 3800.0, 'FEMALE'),
 (2, 'Adelie', 'Torgersen', 40.3, 18.0, 195.0, 3250.0, 'FEMALE'),
 (3, 'Adelie', 'Torgersen', None, None, None, None, None),
 (4, 'Adelie', 'Torgersen', 36.7, 19.3, 193.0, 3450.0, 'FEMALE'),
 (5, 'Adelie', 'Torgersen', 39.3, 20.6, 190.0, 3650.0, 'MALE'),
 (6, 'Adelie', 'Torgersen', 38.9, 17.8, 181.0, 3625.0, 'FEMALE'),
 (7, 'Adelie', 'Torgersen', 39.2, 19.6, 195.0, 4675.0, 'MALE'),
 (8, 'Adelie', 'Torgersen', 34.1, 18.1, 193.0, 3475.0, None),
 (9, 'Adelie', 'Torgersen', 42.0, 20.2, 190.0, 4250.0, None),
 (10, 'Adelie', 'Torgersen', 37.8, 17.1, 186.0, 3300.0, None),
 (11, 'Adelie', 'Torgersen', 37.8, 17.3, 180.0, 3700.0, None),
 (12, 'Adelie', 'Torgersen', 41.1, 17.6, 182.0, 3200.0, 'FEMALE'),
 (13, 'Adelie', 'Torgersen', 38.6, 21.2, 191.0, 3800.0, 'MALE'),
 (14, 'Adelie', 'Torgersen', 34.6, 21.1, 198.0, 4400.0, 'MALE'),
 (15, 'Adelie', 'Torgersen', 36.6, 17.8, 185.0, 3700.0, 'FEMALE'),
 (16, 'Adelie', 'Torgersen', 38.7, 19.0, 195.0, 3450.0, 'FEMALE'),
 (17, 'Adelie', 'Torgersen', 42.5, 20.7, 197.0, 4500.0, 'MALE'),
 (18, 'Adelie', 'Torgersen', 34.4, 18.4, 184.0, 3325.0, 'FEMALE'),
 (19, 'Adelie', 'Torgersen', 46.0, 21.5, 194.0, 4200.0, 'MALE'),
 (20, 'Adelie', 'Biscoe', 37.8, 18.3, 174.0, 3400.0, 'FEMALE'),
 (21, 'Adelie', 'Biscoe', 37.7, 18.7, 180.0, 3600.0, 'MALE'),
 (22, 'Adelie', 'Biscoe', 35.9, 19.2, 189.0, 3800.0, 'FEMALE'),
 (23, 'Adelie', 'Biscoe', 38.2, 18.1, 185.0, 3950.0, 'MALE'),
 (24, 'Adelie', 'Biscoe', 38.8, 17.2, 180.0, 3800.0, 'MALE'),
 (25, 'Adelie', 'Biscoe', 35.3, 18.9, 187.0, 3800.0, 'FEMALE'),
 (26, 'Adelie', 'Biscoe', 40.6, 18.6, 183.0, 3550.0, 'MALE'),
 (27, 'Adelie', 'Biscoe', 40.5, 17.9, 187.0, 3200.0, 'FEMALE'),
 (28, 'Adelie', 'Biscoe', 37.9, 18.6, 172.0, 3150.0, 'FEMALE'),
 (29, 'Adelie', 'Biscoe', 40.5, 18.9, 180.0, 3950.0, 'MALE'),
 (30, 'Adelie', 'Dream', 39.5, 16.7, 178.0, 3250.0, 'FEMALE'),
 (31, 'Adelie', 'Dream', 37.2, 18.1, 178.0, 3900.0, 'MALE'),
 (32, 'Adelie', 'Dream', 39.5, 17.8, 188.0, 3300.0, 'FEMALE'),
 (33, 'Adelie', 'Dream', 40.9, 18.9, 184.0, 3900.0, 'MALE'),
 (34, 'Adelie', 'Dream', 36.4, 17.0, 195.0, 3325.0, 'FEMALE'),
 (35, 'Adelie', 'Dream', 39.2, 21.1, 196.0, 4150.0, 'MALE'),
 (36, 'Adelie', 'Dream', 38.8, 20.0, 190.0, 3950.0, 'MALE'),
 (37, 'Adelie', 'Dream', 42.2, 18.5, 180.0, 3550.0, 'FEMALE'),
 (38, 'Adelie', 'Dream', 37.6, 19.3, 181.0, 3300.0, 'FEMALE'),
 (39, 'Adelie', 'Dream', 39.8, 19.1, 184.0, 4650.0, 'MALE'),
 (40, 'Adelie', 'Dream', 36.5, 18.0, 182.0, 3150.0, 'FEMALE'),
 (41, 'Adelie', 'Dream', 40.8, 18.4, 195.0, 3900.0, 'MALE'),
 (42, 'Adelie', 'Dream', 36.0, 18.5, 186.0, 3100.0, 'FEMALE'),
 (43, 'Adelie', 'Dream', 44.1, 19.7, 196.0, 4400.0, 'MALE'),
 (44, 'Adelie', 'Dream', 37.0, 16.9, 185.0, 3000.0, 'FEMALE'),
 (45, 'Adelie', 'Dream', 39.6, 18.8, 190.0, 4600.0, 'MALE'),
 (46, 'Adelie', 'Dream', 41.1, 19.0, 182.0, 3425.0, 'MALE'),
 (47, 'Adelie', 'Dream', 37.5, 18.9, 179.0, 2975.0, None),
 (48, 'Adelie', 'Dream', 36.0, 17.9, 190.0, 3450.0, 'FEMALE'),
 (49, 'Adelie', 'Dream', 42.3, 21.2, 191.0, 4150.0, 'MALE'),
 (50, 'Adelie', 'Biscoe', 39.6, 17.7, 186.0, 3500.0, 'FEMALE'),
 (51, 'Adelie', 'Biscoe', 40.1, 18.9, 188.0, 4300.0, 'MALE'),
 (52, 'Adelie', 'Biscoe', 35.0, 17.9, 190.0, 3450.0, 'FEMALE'),
 (53, 'Adelie', 'Biscoe', 42.0, 19.5, 200.0, 4050.0, 'MALE'),
 (54, 'Adelie', 'Biscoe', 34.5, 18.1, 187.0, 2900.0, 'FEMALE'),
 (55, 'Adelie', 'Biscoe', 41.4, 18.6, 191.0, 3700.0, 'MALE'),
 (56, 'Adelie', 'Biscoe', 39.0, 17.5, 186.0, 3550.0, 'FEMALE'),
 (57, 'Adelie', 'Biscoe', 40.6, 18.8, 193.0, 3800.0, 'MALE'),
 (58, 'Adelie', 'Biscoe', 36.5, 16.6, 181.0, 2850.0, 'FEMALE'),
 (59, 'Adelie', 'Biscoe', 37.6, 19.1, 194.0, 3750.0, 'MALE'),
 (60, 'Adelie', 'Biscoe', 35.7, 16.9, 185.0, 3150.0, 'FEMALE'),
 (61, 'Adelie', 'Biscoe', 41.3, 21.1, 195.0, 4400.0, 'MALE'),
 (62, 'Adelie', 'Biscoe', 37.6, 17.0, 185.0, 3600.0, 'FEMALE'),
 (63, 'Adelie', 'Biscoe', 41.1, 18.2, 192.0, 4050.0, 'MALE'),
 (64, 'Adelie', 'Biscoe', 36.4, 17.1, 184.0, 2850.0, 'FEMALE'),
 (65, 'Adelie', 'Biscoe', 41.6, 18.0, 192.0, 3950.0, 'MALE'),
 (66, 'Adelie', 'Biscoe', 35.5, 16.2, 195.0, 3350.0, 'FEMALE'),
 (67, 'Adelie', 'Biscoe', 41.1, 19.1, 188.0, 4100.0, 'MALE'),
 (68, 'Adelie', 'Torgersen', 35.9, 16.6, 190.0, 3050.0, 'FEMALE'),
 (69, 'Adelie', 'Torgersen', 41.8, 19.4, 198.0, 4450.0, 'MALE'),
 (70, 'Adelie', 'Torgersen', 33.5, 19.0, 190.0, 3600.0, 'FEMALE'),
 (71, 'Adelie', 'Torgersen', 39.7, 18.4, 190.0, 3900.0, 'MALE'),
 (72, 'Adelie', 'Torgersen', 39.6, 17.2, 196.0, 3550.0, 'FEMALE'),
 (73, 'Adelie', 'Torgersen', 45.8, 18.9, 197.0, 4150.0, 'MALE'),
 (74, 'Adelie', 'Torgersen', 35.5, 17.5, 190.0, 3700.0, 'FEMALE'),
 (75, 'Adelie', 'Torgersen', 42.8, 18.5, 195.0, 4250.0, 'MALE'),
 (76, 'Adelie', 'Torgersen', 40.9, 16.8, 191.0, 3700.0, 'FEMALE'),
 (77, 'Adelie', 'Torgersen', 37.2, 19.4, 184.0, 3900.0, 'MALE'),
 (78, 'Adelie', 'Torgersen', 36.2, 16.1, 187.0, 3550.0, 'FEMALE'),
 (79, 'Adelie', 'Torgersen', 42.1, 19.1, 195.0, 4000.0, 'MALE'),
 (80, 'Adelie', 'Torgersen', 34.6, 17.2, 189.0, 3200.0, 'FEMALE'),
 (81, 'Adelie', 'Torgersen', 42.9, 17.6, 196.0, 4700.0, 'MALE'),
 (82, 'Adelie', 'Torgersen', 36.7, 18.8, 187.0, 3800.0, 'FEMALE'),
 (83, 'Adelie', 'Torgersen', 35.1, 19.4, 193.0, 4200.0, 'MALE'),
 (84, 'Adelie', 'Dream', 37.3, 17.8, 191.0, 3350.0, 'FEMALE'),
 (85, 'Adelie', 'Dream', 41.3, 20.3, 194.0, 3550.0, 'MALE'),
 (86, 'Adelie', 'Dream', 36.3, 19.5, 190.0, 3800.0, 'MALE'),
 (87, 'Adelie', 'Dream', 36.9, 18.6, 189.0, 3500.0, 'FEMALE'),
 (88, 'Adelie', 'Dream', 38.3, 19.2, 189.0, 3950.0, 'MALE'),
 (89, 'Adelie', 'Dream', 38.9, 18.8, 190.0, 3600.0, 'FEMALE'),
 (90, 'Adelie', 'Dream', 35.7, 18.0, 202.0, 3550.0, 'FEMALE'),
 (91, 'Adelie', 'Dream', 41.1, 18.1, 205.0, 4300.0, 'MALE'),
 (92, 'Adelie', 'Dream', 34.0, 17.1, 185.0, 3400.0, 'FEMALE'),
 (93, 'Adelie', 'Dream', 39.6, 18.1, 186.0, 4450.0, 'MALE'),
 (94, 'Adelie', 'Dream', 36.2, 17.3, 187.0, 3300.0, 'FEMALE'),
 (95, 'Adelie', 'Dream', 40.8, 18.9, 208.0, 4300.0, 'MALE'),
 (96, 'Adelie', 'Dream', 38.1, 18.6, 190.0, 3700.0, 'FEMALE'),
 (97, 'Adelie', 'Dream', 40.3, 18.5, 196.0, 4350.0, 'MALE'),
 (98, 'Adelie', 'Dream', 33.1, 16.1, 178.0, 2900.0, 'FEMALE'),
 (99, 'Adelie', 'Dream', 43.2, 18.5, 192.0, 4100.0, 'MALE'),
 (100, 'Adelie', 'Biscoe', 35.0, 17.9, 192.0, 3725.0, 'FEMALE'),
 (101, 'Adelie', 'Biscoe', 41.0, 20.0, 203.0, 4725.0, 'MALE'),
 (102, 'Adelie', 'Biscoe', 37.7, 16.0, 183.0, 3075.0, 'FEMALE'),
 (103, 'Adelie', 'Biscoe', 37.8, 20.0, 190.0, 4250.0, 'MALE'),
 (104, 'Adelie', 'Biscoe', 37.9, 18.6, 193.0, 2925.0, 'FEMALE'),
 (105, 'Adelie', 'Biscoe', 39.7, 18.9, 184.0, 3550.0, 'MALE'),
 (106, 'Adelie', 'Biscoe', 38.6, 17.2, 199.0, 3750.0, 'FEMALE'),
 (107, 'Adelie', 'Biscoe', 38.2, 20.0, 190.0, 3900.0, 'MALE'),
 (108, 'Adelie', 'Biscoe', 38.1, 17.0, 181.0, 3175.0, 'FEMALE'),
 (109, 'Adelie', 'Biscoe', 43.2, 19.0, 197.0, 4775.0, 'MALE'),
 (110, 'Adelie', 'Biscoe', 38.1, 16.5, 198.0, 3825.0, 'FEMALE'),
 (111, 'Adelie', 'Biscoe', 45.6, 20.3, 191.0, 4600.0, 'MALE'),
 (112, 'Adelie', 'Biscoe', 39.7, 17.7, 193.0, 3200.0, 'FEMALE'),
 (113, 'Adelie', 'Biscoe', 42.2, 19.5, 197.0, 4275.0, 'MALE'),
 (114, 'Adelie', 'Biscoe', 39.6, 20.7, 191.0, 3900.0, 'FEMALE'),
 (115, 'Adelie', 'Biscoe', 42.7, 18.3, 196.0, 4075.0, 'MALE'),
 (116, 'Adelie', 'Torgersen', 38.6, 17.0, 188.0, 2900.0, 'FEMALE'),
 (117, 'Adelie', 'Torgersen', 37.3, 20.5, 199.0, 3775.0, 'MALE'),
 (118, 'Adelie', 'Torgersen', 35.7, 17.0, 189.0, 3350.0, 'FEMALE'),
 (119, 'Adelie', 'Torgersen', 41.1, 18.6, 189.0, 3325.0, 'MALE'),
 (120, 'Adelie', 'Torgersen', 36.2, 17.2, 187.0, 3150.0, 'FEMALE'),
 (121, 'Adelie', 'Torgersen', 37.7, 19.8, 198.0, 3500.0, 'MALE'),
 (122, 'Adelie', 'Torgersen', 40.2, 17.0, 176.0, 3450.0, 'FEMALE'),
 (123, 'Adelie', 'Torgersen', 41.4, 18.5, 202.0, 3875.0, 'MALE'),
 (124, 'Adelie', 'Torgersen', 35.2, 15.9, 186.0, 3050.0, 'FEMALE'),
 (125, 'Adelie', 'Torgersen', 40.6, 19.0, 199.0, 4000.0, 'MALE'),
 (126, 'Adelie', 'Torgersen', 38.8, 17.6, 191.0, 3275.0, 'FEMALE'),
 (127, 'Adelie', 'Torgersen', 41.5, 18.3, 195.0, 4300.0, 'MALE'),
 (128, 'Adelie', 'Torgersen', 39.0, 17.1, 191.0, 3050.0, 'FEMALE'),
 (129, 'Adelie', 'Torgersen', 44.1, 18.0, 210.0, 4000.0, 'MALE'),
 (130, 'Adelie', 'Torgersen', 38.5, 17.9, 190.0, 3325.0, 'FEMALE'),
 (131, 'Adelie', 'Torgersen', 43.1, 19.2, 197.0, 3500.0, 'MALE'),
 (132, 'Adelie', 'Dream', 36.8, 18.5, 193.0, 3500.0, 'FEMALE'),
 (133, 'Adelie', 'Dream', 37.5, 18.5, 199.0, 4475.0, 'MALE'),
 (134, 'Adelie', 'Dream', 38.1, 17.6, 187.0, 3425.0, 'FEMALE'),
 (135, 'Adelie', 'Dream', 41.1, 17.5, 190.0, 3900.0, 'MALE'),
 (136, 'Adelie', 'Dream', 35.6, 17.5, 191.0, 3175.0, 'FEMALE'),
 (137, 'Adelie', 'Dream', 40.2, 20.1, 200.0, 3975.0, 'MALE'),
 (138, 'Adelie', 'Dream', 37.0, 16.5, 185.0, 3400.0, 'FEMALE'),
 (139, 'Adelie', 'Dream', 39.7, 17.9, 193.0, 4250.0, 'MALE'),
 (140, 'Adelie', 'Dream', 40.2, 17.1, 193.0, 3400.0, 'FEMALE'),
 (141, 'Adelie', 'Dream', 40.6, 17.2, 187.0, 3475.0, 'MALE'),
 (142, 'Adelie', 'Dream', 32.1, 15.5, 188.0, 3050.0, 'FEMALE'),
 (143, 'Adelie', 'Dream', 40.7, 17.0, 190.0, 3725.0, 'MALE'),
 (144, 'Adelie', 'Dream', 37.3, 16.8, 192.0, 3000.0, 'FEMALE'),
 (145, 'Adelie', 'Dream', 39.0, 18.7, 185.0, 3650.0, 'MALE'),
 (146, 'Adelie', 'Dream', 39.2, 18.6, 190.0, 4250.0, 'MALE'),
 (147, 'Adelie', 'Dream', 36.6, 18.4, 184.0, 3475.0, 'FEMALE'),
 (148, 'Adelie', 'Dream', 36.0, 17.8, 195.0, 3450.0, 'FEMALE'),
 (149, 'Adelie', 'Dream', 37.8, 18.1, 193.0, 3750.0, 'MALE'),
 (150, 'Adelie', 'Dream', 36.0, 17.1, 187.0, 3700.0, 'FEMALE'),
 (151, 'Adelie', 'Dream', 41.5, 18.5, 201.0, 4000.0, 'MALE'),
 (152, 'Chinstrap', 'Dream', 46.5, 17.9, 192.0, 3500.0, 'FEMALE'),
 (153, 'Chinstrap', 'Dream', 50.0, 19.5, 196.0, 3900.0, 'MALE'),
 (154, 'Chinstrap', 'Dream', 51.3, 19.2, 193.0, 3650.0, 'MALE'),
 (155, 'Chinstrap', 'Dream', 45.4, 18.7, 188.0, 3525.0, 'FEMALE'),
 (156, 'Chinstrap', 'Dream', 52.7, 19.8, 197.0, 3725.0, 'MALE'),
 (157, 'Chinstrap', 'Dream', 45.2, 17.8, 198.0, 3950.0, 'FEMALE'),
 (158, 'Chinstrap', 'Dream', 46.1, 18.2, 178.0, 3250.0, 'FEMALE'),
 (159, 'Chinstrap', 'Dream', 51.3, 18.2, 197.0, 3750.0, 'MALE'),
 (160, 'Chinstrap', 'Dream', 46.0, 18.9, 195.0, 4150.0, 'FEMALE'),
 (161, 'Chinstrap', 'Dream', 51.3, 19.9, 198.0, 3700.0, 'MALE'),
 (162, 'Chinstrap', 'Dream', 46.6, 17.8, 193.0, 3800.0, 'FEMALE'),
 (163, 'Chinstrap', 'Dream', 51.7, 20.3, 194.0, 3775.0, 'MALE'),
 (164, 'Chinstrap', 'Dream', 47.0, 17.3, 185.0, 3700.0, 'FEMALE'),
 (165, 'Chinstrap', 'Dream', 52.0, 18.1, 201.0, 4050.0, 'MALE'),
 (166, 'Chinstrap', 'Dream', 45.9, 17.1, 190.0, 3575.0, 'FEMALE'),
 (167, 'Chinstrap', 'Dream', 50.5, 19.6, 201.0, 4050.0, 'MALE'),
 (168, 'Chinstrap', 'Dream', 50.3, 20.0, 197.0, 3300.0, 'MALE'),
 (169, 'Chinstrap', 'Dream', 58.0, 17.8, 181.0, 3700.0, 'FEMALE'),
 (170, 'Chinstrap', 'Dream', 46.4, 18.6, 190.0, 3450.0, 'FEMALE'),
 (171, 'Chinstrap', 'Dream', 49.2, 18.2, 195.0, 4400.0, 'MALE'),
 (172, 'Chinstrap', 'Dream', 42.4, 17.3, 181.0, 3600.0, 'FEMALE'),
 (173, 'Chinstrap', 'Dream', 48.5, 17.5, 191.0, 3400.0, 'MALE'),
 (174, 'Chinstrap', 'Dream', 43.2, 16.6, 187.0, 2900.0, 'FEMALE'),
 (175, 'Chinstrap', 'Dream', 50.6, 19.4, 193.0, 3800.0, 'MALE'),
 (176, 'Chinstrap', 'Dream', 46.7, 17.9, 195.0, 3300.0, 'FEMALE'),
 (177, 'Chinstrap', 'Dream', 52.0, 19.0, 197.0, 4150.0, 'MALE'),
 (178, 'Chinstrap', 'Dream', 50.5, 18.4, 200.0, 3400.0, 'FEMALE'),
 (179, 'Chinstrap', 'Dream', 49.5, 19.0, 200.0, 3800.0, 'MALE'),
 (180, 'Chinstrap', 'Dream', 46.4, 17.8, 191.0, 3700.0, 'FEMALE'),
 (181, 'Chinstrap', 'Dream', 52.8, 20.0, 205.0, 4550.0, 'MALE'),
 (182, 'Chinstrap', 'Dream', 40.9, 16.6, 187.0, 3200.0, 'FEMALE'),
 (183, 'Chinstrap', 'Dream', 54.2, 20.8, 201.0, 4300.0, 'MALE'),
 (184, 'Chinstrap', 'Dream', 42.5, 16.7, 187.0, 3350.0, 'FEMALE'),
 (185, 'Chinstrap', 'Dream', 51.0, 18.8, 203.0, 4100.0, 'MALE'),
 (186, 'Chinstrap', 'Dream', 49.7, 18.6, 195.0, 3600.0, 'MALE'),
 (187, 'Chinstrap', 'Dream', 47.5, 16.8, 199.0, 3900.0, 'FEMALE'),
 (188, 'Chinstrap', 'Dream', 47.6, 18.3, 195.0, 3850.0, 'FEMALE'),
 (189, 'Chinstrap', 'Dream', 52.0, 20.7, 210.0, 4800.0, 'MALE'),
 (190, 'Chinstrap', 'Dream', 46.9, 16.6, 192.0, 2700.0, 'FEMALE'),
 (191, 'Chinstrap', 'Dream', 53.5, 19.9, 205.0, 4500.0, 'MALE'),
 (192, 'Chinstrap', 'Dream', 49.0, 19.5, 210.0, 3950.0, 'MALE'),
 (193, 'Chinstrap', 'Dream', 46.2, 17.5, 187.0, 3650.0, 'FEMALE'),
 (194, 'Chinstrap', 'Dream', 50.9, 19.1, 196.0, 3550.0, 'MALE'),
 (195, 'Chinstrap', 'Dream', 45.5, 17.0, 196.0, 3500.0, 'FEMALE'),
 (196, 'Chinstrap', 'Dream', 50.9, 17.9, 196.0, 3675.0, 'FEMALE'),
 (197, 'Chinstrap', 'Dream', 50.8, 18.5, 201.0, 4450.0, 'MALE'),
 (198, 'Chinstrap', 'Dream', 50.1, 17.9, 190.0, 3400.0, 'FEMALE'),
 (199, 'Chinstrap', 'Dream', 49.0, 19.6, 212.0, 4300.0, 'MALE'),
 (200, 'Chinstrap', 'Dream', 51.5, 18.7, 187.0, 3250.0, 'MALE'),
 (201, 'Chinstrap', 'Dream', 49.8, 17.3, 198.0, 3675.0, 'FEMALE'),
 (202, 'Chinstrap', 'Dream', 48.1, 16.4, 199.0, 3325.0, 'FEMALE'),
 (203, 'Chinstrap', 'Dream', 51.4, 19.0, 201.0, 3950.0, 'MALE'),
 (204, 'Chinstrap', 'Dream', 45.7, 17.3, 193.0, 3600.0, 'FEMALE'),
 (205, 'Chinstrap', 'Dream', 50.7, 19.7, 203.0, 4050.0, 'MALE'),
 (206, 'Chinstrap', 'Dream', 42.5, 17.3, 187.0, 3350.0, 'FEMALE'),
 (207, 'Chinstrap', 'Dream', 52.2, 18.8, 197.0, 3450.0, 'MALE'),
 (208, 'Chinstrap', 'Dream', 45.2, 16.6, 191.0, 3250.0, 'FEMALE'),
 (209, 'Chinstrap', 'Dream', 49.3, 19.9, 203.0, 4050.0, 'MALE'),
 (210, 'Chinstrap', 'Dream', 50.2, 18.8, 202.0, 3800.0, 'MALE'),
 (211, 'Chinstrap', 'Dream', 45.6, 19.4, 194.0, 3525.0, 'FEMALE'),
 (212, 'Chinstrap', 'Dream', 51.9, 19.5, 206.0, 3950.0, 'MALE'),
 (213, 'Chinstrap', 'Dream', 46.8, 16.5, 189.0, 3650.0, 'FEMALE'),
 (214, 'Chinstrap', 'Dream', 45.7, 17.0, 195.0, 3650.0, 'FEMALE'),
 (215, 'Chinstrap', 'Dream', 55.8, 19.8, 207.0, 4000.0, 'MALE'),
 (216, 'Chinstrap', 'Dream', 43.5, 18.1, 202.0, 3400.0, 'FEMALE'),
 (217, 'Chinstrap', 'Dream', 49.6, 18.2, 193.0, 3775.0, 'MALE'),
 (218, 'Chinstrap', 'Dream', 50.8, 19.0, 210.0, 4100.0, 'MALE'),
 (219, 'Chinstrap', 'Dream', 50.2, 18.7, 198.0, 3775.0, 'FEMALE'),
 (220, 'Gentoo', 'Biscoe', 46.1, 13.2, 211.0, 4500.0, 'FEMALE'),
 (221, 'Gentoo', 'Biscoe', 50.0, 16.3, 230.0, 5700.0, 'MALE'),
 (222, 'Gentoo', 'Biscoe', 48.7, 14.1, 210.0, 4450.0, 'FEMALE'),
 (223, 'Gentoo', 'Biscoe', 50.0, 15.2, 218.0, 5700.0, 'MALE'),
 (224, 'Gentoo', 'Biscoe', 47.6, 14.5, 215.0, 5400.0, 'MALE'),
 (225, 'Gentoo', 'Biscoe', 46.5, 13.5, 210.0, 4550.0, 'FEMALE'),
 (226, 'Gentoo', 'Biscoe', 45.4, 14.6, 211.0, 4800.0, 'FEMALE'),
 (227, 'Gentoo', 'Biscoe', 46.7, 15.3, 219.0, 5200.0, 'MALE'),
 (228, 'Gentoo', 'Biscoe', 43.3, 13.4, 209.0, 4400.0, 'FEMALE'),
 (229, 'Gentoo', 'Biscoe', 46.8, 15.4, 215.0, 5150.0, 'MALE'),
 (230, 'Gentoo', 'Biscoe', 40.9, 13.7, 214.0, 4650.0, 'FEMALE'),
 (231, 'Gentoo', 'Biscoe', 49.0, 16.1, 216.0, 5550.0, 'MALE'),
 (232, 'Gentoo', 'Biscoe', 45.5, 13.7, 214.0, 4650.0, 'FEMALE'),
 (233, 'Gentoo', 'Biscoe', 48.4, 14.6, 213.0, 5850.0, 'MALE'),
 (234, 'Gentoo', 'Biscoe', 45.8, 14.6, 210.0, 4200.0, 'FEMALE'),
 (235, 'Gentoo', 'Biscoe', 49.3, 15.7, 217.0, 5850.0, 'MALE'),
 (236, 'Gentoo', 'Biscoe', 42.0, 13.5, 210.0, 4150.0, 'FEMALE'),
 (237, 'Gentoo', 'Biscoe', 49.2, 15.2, 221.0, 6300.0, 'MALE'),
 (238, 'Gentoo', 'Biscoe', 46.2, 14.5, 209.0, 4800.0, 'FEMALE'),
 (239, 'Gentoo', 'Biscoe', 48.7, 15.1, 222.0, 5350.0, 'MALE'),
 (240, 'Gentoo', 'Biscoe', 50.2, 14.3, 218.0, 5700.0, 'MALE'),
 (241, 'Gentoo', 'Biscoe', 45.1, 14.5, 215.0, 5000.0, 'FEMALE'),
 (242, 'Gentoo', 'Biscoe', 46.5, 14.5, 213.0, 4400.0, 'FEMALE'),
 (243, 'Gentoo', 'Biscoe', 46.3, 15.8, 215.0, 5050.0, 'MALE'),
 (244, 'Gentoo', 'Biscoe', 42.9, 13.1, 215.0, 5000.0, 'FEMALE'),
 (245, 'Gentoo', 'Biscoe', 46.1, 15.1, 215.0, 5100.0, 'MALE'),
 (246, 'Gentoo', 'Biscoe', 44.5, 14.3, 216.0, 4100.0, None),
 (247, 'Gentoo', 'Biscoe', 47.8, 15.0, 215.0, 5650.0, 'MALE'),
 (248, 'Gentoo', 'Biscoe', 48.2, 14.3, 210.0, 4600.0, 'FEMALE'),
 (249, 'Gentoo', 'Biscoe', 50.0, 15.3, 220.0, 5550.0, 'MALE'),
 (250, 'Gentoo', 'Biscoe', 47.3, 15.3, 222.0, 5250.0, 'MALE'),
 (251, 'Gentoo', 'Biscoe', 42.8, 14.2, 209.0, 4700.0, 'FEMALE'),
 (252, 'Gentoo', 'Biscoe', 45.1, 14.5, 207.0, 5050.0, 'FEMALE'),
 (253, 'Gentoo', 'Biscoe', 59.6, 17.0, 230.0, 6050.0, 'MALE'),
 (254, 'Gentoo', 'Biscoe', 49.1, 14.8, 220.0, 5150.0, 'FEMALE'),
 (255, 'Gentoo', 'Biscoe', 48.4, 16.3, 220.0, 5400.0, 'MALE'),
 (256, 'Gentoo', 'Biscoe', 42.6, 13.7, 213.0, 4950.0, 'FEMALE'),
 (257, 'Gentoo', 'Biscoe', 44.4, 17.3, 219.0, 5250.0, 'MALE'),
 (258, 'Gentoo', 'Biscoe', 44.0, 13.6, 208.0, 4350.0, 'FEMALE'),
 (259, 'Gentoo', 'Biscoe', 48.7, 15.7, 208.0, 5350.0, 'MALE'),
 (260, 'Gentoo', 'Biscoe', 42.7, 13.7, 208.0, 3950.0, 'FEMALE'),
 (261, 'Gentoo', 'Biscoe', 49.6, 16.0, 225.0, 5700.0, 'MALE'),
 (262, 'Gentoo', 'Biscoe', 45.3, 13.7, 210.0, 4300.0, 'FEMALE'),
 (263, 'Gentoo', 'Biscoe', 49.6, 15.0, 216.0, 4750.0, 'MALE'),
 (264, 'Gentoo', 'Biscoe', 50.5, 15.9, 222.0, 5550.0, 'MALE'),
 (265, 'Gentoo', 'Biscoe', 43.6, 13.9, 217.0, 4900.0, 'FEMALE'),
 (266, 'Gentoo', 'Biscoe', 45.5, 13.9, 210.0, 4200.0, 'FEMALE'),
 (267, 'Gentoo', 'Biscoe', 50.5, 15.9, 225.0, 5400.0, 'MALE'),
 (268, 'Gentoo', 'Biscoe', 44.9, 13.3, 213.0, 5100.0, 'FEMALE'),
 (269, 'Gentoo', 'Biscoe', 45.2, 15.8, 215.0, 5300.0, 'MALE'),
 (270, 'Gentoo', 'Biscoe', 46.6, 14.2, 210.0, 4850.0, 'FEMALE'),
 (271, 'Gentoo', 'Biscoe', 48.5, 14.1, 220.0, 5300.0, 'MALE'),
 (272, 'Gentoo', 'Biscoe', 45.1, 14.4, 210.0, 4400.0, 'FEMALE'),
 (273, 'Gentoo', 'Biscoe', 50.1, 15.0, 225.0, 5000.0, 'MALE'),
 (274, 'Gentoo', 'Biscoe', 46.5, 14.4, 217.0, 4900.0, 'FEMALE'),
 (275, 'Gentoo', 'Biscoe', 45.0, 15.4, 220.0, 5050.0, 'MALE'),
 (276, 'Gentoo', 'Biscoe', 43.8, 13.9, 208.0, 4300.0, 'FEMALE'),
 (277, 'Gentoo', 'Biscoe', 45.5, 15.0, 220.0, 5000.0, 'MALE'),
 (278, 'Gentoo', 'Biscoe', 43.2, 14.5, 208.0, 4450.0, 'FEMALE'),
 (279, 'Gentoo', 'Biscoe', 50.4, 15.3, 224.0, 5550.0, 'MALE'),
 (280, 'Gentoo', 'Biscoe', 45.3, 13.8, 208.0, 4200.0, 'FEMALE'),
 (281, 'Gentoo', 'Biscoe', 46.2, 14.9, 221.0, 5300.0, 'MALE'),
 (282, 'Gentoo', 'Biscoe', 45.7, 13.9, 214.0, 4400.0, 'FEMALE'),
 (283, 'Gentoo', 'Biscoe', 54.3, 15.7, 231.0, 5650.0, 'MALE'),
 (284, 'Gentoo', 'Biscoe', 45.8, 14.2, 219.0, 4700.0, 'FEMALE'),
 (285, 'Gentoo', 'Biscoe', 49.8, 16.8, 230.0, 5700.0, 'MALE'),
 (286, 'Gentoo', 'Biscoe', 46.2, 14.4, 214.0, 4650.0, None),
 (287, 'Gentoo', 'Biscoe', 49.5, 16.2, 229.0, 5800.0, 'MALE'),
 (288, 'Gentoo', 'Biscoe', 43.5, 14.2, 220.0, 4700.0, 'FEMALE'),
 (289, 'Gentoo', 'Biscoe', 50.7, 15.0, 223.0, 5550.0, 'MALE'),
 (290, 'Gentoo', 'Biscoe', 47.7, 15.0, 216.0, 4750.0, 'FEMALE'),
 (291, 'Gentoo', 'Biscoe', 46.4, 15.6, 221.0, 5000.0, 'MALE'),
 (292, 'Gentoo', 'Biscoe', 48.2, 15.6, 221.0, 5100.0, 'MALE'),
 (293, 'Gentoo', 'Biscoe', 46.5, 14.8, 217.0, 5200.0, 'FEMALE'),
 (294, 'Gentoo', 'Biscoe', 46.4, 15.0, 216.0, 4700.0, 'FEMALE'),
 (295, 'Gentoo', 'Biscoe', 48.6, 16.0, 230.0, 5800.0, 'MALE'),
 (296, 'Gentoo', 'Biscoe', 47.5, 14.2, 209.0, 4600.0, 'FEMALE'),
 (297, 'Gentoo', 'Biscoe', 51.1, 16.3, 220.0, 6000.0, 'MALE'),
 (298, 'Gentoo', 'Biscoe', 45.2, 13.8, 215.0, 4750.0, 'FEMALE'),
 (299, 'Gentoo', 'Biscoe', 45.2, 16.4, 223.0, 5950.0, 'MALE'),
 (300, 'Gentoo', 'Biscoe', 49.1, 14.5, 212.0, 4625.0, 'FEMALE'),
 (301, 'Gentoo', 'Biscoe', 52.5, 15.6, 221.0, 5450.0, 'MALE'),
 (302, 'Gentoo', 'Biscoe', 47.4, 14.6, 212.0, 4725.0, 'FEMALE'),
 (303, 'Gentoo', 'Biscoe', 50.0, 15.9, 224.0, 5350.0, 'MALE'),
 (304, 'Gentoo', 'Biscoe', 44.9, 13.8, 212.0, 4750.0, 'FEMALE'),
 (305, 'Gentoo', 'Biscoe', 50.8, 17.3, 228.0, 5600.0, 'MALE'),
 (306, 'Gentoo', 'Biscoe', 43.4, 14.4, 218.0, 4600.0, 'FEMALE'),
 (307, 'Gentoo', 'Biscoe', 51.3, 14.2, 218.0, 5300.0, 'MALE'),
 (308, 'Gentoo', 'Biscoe', 47.5, 14.0, 212.0, 4875.0, 'FEMALE'),
 (309, 'Gentoo', 'Biscoe', 52.1, 17.0, 230.0, 5550.0, 'MALE'),

## LLMs to query Database

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [9]:
def create_prefix(query):
    prefix = f""" Return a SQL statement that answers the following query:
    {query}
    
    For a table called 'Penguins' with the following properties:
    
     #   Column             Non-Null Count  Dtype  
    ---  ------             --------------  -----  
     0   species            344 non-null    object 
     1   island             344 non-null    object 
     2   bill_length_mm     342 non-null    float64
     3   bill_depth_mm      342 non-null    float64
     4   flipper_length_mm  342 non-null    float64
     5   body_mass_g        342 non-null    float64
     6   sex                333 non-null    object 

     Example Rows:
     (0, 'Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'MALE'),
     (1, 'Adelie', 'Torgersen', 39.5, 17.4, 186.0, 3800.0, 'FEMALE'),
     (2, 'Adelie', 'Torgersen', 40.3, 18.0, 195.0, 3250.0, 'FEMALE')

     Only return the SQL statement for the query
    """

    return prefix

In [10]:
def user_input():
    query = input("Ask a question about the Penguins table")
    return create_prefix(query)

In [11]:
prefix = user_input()

Ask a question about the Penguins table How many male penguins are there?

In [12]:
print(prefix)

 Return a SQL statement that answers the following query:
    How many male penguins are there?

    For a table called 'Penguins' with the following properties:

     #   Column             Non-Null Count  Dtype
    ---  ------             --------------  -----
     0   species            344 non-null    object
     1   island             344 non-null    object
     2   bill_length_mm     342 non-null    float64
     3   bill_depth_mm      342 non-null    float64
     4   flipper_length_mm  342 non-null    float64
     5   body_mass_g        342 non-null    float64
     6   sex                333 non-null    object

     Example Rows:
     (0, 'Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'MALE'),
     (1, 'Adelie', 'Torgersen', 39.5, 17.4, 186.0, 3800.0, 'FEMALE'),
     (2, 'Adelie', 'Torgersen', 40.3, 18.0, 195.0, 3250.0, 'FEMALE')

     Only return the SQL statement for the query

In [13]:
code_generation_model = CodeGenerationModel.from_pretrained('code-bison')

In [14]:
print("Hello, I am your AI database assistant")
print('\n\n')

prefix = user_input()
result = code_generation_model.predict(prefix=prefix)

Hello, I am your AI database assistant

Ask a question about the Penguins table How many male penguins are there?

In [15]:
print(result.text)

 SELECT COUNT(*)
FROM Penguins
WHERE sex = 'MALE';

In [16]:
def clean_sql(sql_statement):
    return sql_statement.replace('```sql','').replace('```','').replace('\n',' ')

In [17]:
clean_sql(result.text)

" SELECT COUNT(*) FROM Penguins WHERE sex = 'MALE';"

## Creating Wrapper Function

In [18]:
def nlp_assistant():
    print("Hello, I am your AI database assistant")
    print('\n\n')
    
    prefix = user_input()
    result = code_generation_model.predict(prefix=prefix)
    sql = clean_sql(result.text)

    with temp_df.connect() as conn:
        print("\n Ok I am running this SQL statement")
        result = conn.execute(text(sql))
    print("\n==========================================")
    print("The results are:")
    print(result.all())

In [19]:
nlp_assistant()

Hello, I am your AI database assistant

Ask a question about the Penguins table How many male penguins are there?

 Ok I am running this SQL statement
2023-11-27 18:53:34,411 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-27 18:53:34,413 INFO sqlalchemy.engine.Engine  SELECT COUNT(*) FROM Penguins WHERE sex = 'MALE';
2023-11-27 18:53:34,413 INFO sqlalchemy.engine.Engine [generated in 0.00308s] ()
2023-11-27 18:53:34,415 INFO sqlalchemy.engine.Engine ROLLBACK

==========================================
The results are:
[(168,)]

In [20]:
nlp_assistant()

Hello, I am your AI database assistant

Ask a question about the Penguins table How many distinct island names are there?

 Ok I am running this SQL statement
2023-11-27 18:54:01,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-27 18:54:01,329 INFO sqlalchemy.engine.Engine  SELECT COUNT(DISTINCT island) FROM Penguins;
2023-11-27 18:54:01,330 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ()
2023-11-27 18:54:01,332 INFO sqlalchemy.engine.Engine ROLLBACK

==========================================
The results are:
[(3,)]

In [21]:
nlp_assistant()

Hello, I am your AI database assistant

Ask a question about the Penguins table What are the unique island names?

 Ok I am running this SQL statement
2023-11-27 18:54:42,911 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-27 18:54:42,912 INFO sqlalchemy.engine.Engine  SELECT DISTINCT island FROM Penguins;
2023-11-27 18:54:42,913 INFO sqlalchemy.engine.Engine [generated in 0.00159s] ()
2023-11-27 18:54:42,914 INFO sqlalchemy.engine.Engine ROLLBACK

==========================================
The results are:
[('Torgersen',), ('Biscoe',), ('Dream',)]